/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* width: 1440px; */
    width: fit-content;
}

main{
    display: flex;
    flex-direction: column;
}

/****************** 
  Styles of Header 
*******************/
header{
    background: #2D25A0;
    padding: 100px 150px;
    margin-bottom: 70px;
}

header h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}

.header-container{
    display: grid;
    column-gap: 102px;
    grid-template-columns: 1fr 1fr;
    
}

.header-image img{
    width: 100%;
}

header:hover .bg-image{
    transform: scale(1.3) rotate(360deg);
    transition: transform 5s ease-in-out;
}

.header-text a{
    text-decoration: none;
    background: #E02C6D;
    padding: 10px 24px;
    color: white;
}

.header-text a .arrow{
    margin-left: 10px;
}


/*********************************
  Styles of All Players Section 
**********************************/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-players{
    margin-left: 12.5%;
    margin-right: 14.5%;
    /* margin-left: 180px; */
    /* margin-right: 210px; */
    margin-bottom: 150px;
}

.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 27px;
}

.player{
    /* width: 330px; */
    /* height: 474px; */
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;
    color: #18191F;
}

.player-details{
    font-size: 16px;
    margin-top: 0;
    color: #6C6C6C;
}


/******************************** 
 Bonus Section 1. Football News 
********************************/
.football-news{
   display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.football-news-content{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.football-news .news-head{
    font-size: 16px;
    font-weight: 700;
    color: #18191F;
    text-transform: capitalize;
}

.football-news .news-title{
    font-size: 28px;
    color: #18191F;
    letter-spacing: -1px;
    font-weight: bold;
}

.news-text{
    padding: 25px;
    background-color: white;
}

.news-text a{
    text-decoration: none;
    background-color: royalblue;
    padding: 10px 40px;
    color: whitesmoke;
    border-radius: 5px;
}

.news-image img{
    width: 100%;
}


/************************* 
 Bonus Section 2. Join Us 
**************************/

.join-us{
    display: flex;
    justify-content: center;
}

.join-us-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
}

.join-us-text{
    background-color: navy;
    
}

.join-us-text a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #f4bc46;
    margin-bottom: 15px;
}

.join-us-image img{
    width: 100%;
    height: 100%;
}
.join-us-text h2{
    text-align: center;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
}

.join-us-icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.join-us-icon img{
    width: 150px;
    height: 150px;
}

/***************** 
  Footer Styles 
******************/
footer{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 63px;
}

.footer-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo{
    width: 483px;
    margin-bottom: 20px;
}

.footer-logo img{
    width: 80%;
}

footer .social-icon{
    height: 32px;
    width: 32px;
    font-size: 20px;
    color: #969BAB;
}

/* ****************
   Media Query
***************** */

/* For Mobile devices */
@media screen and (max-width: 688px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header-container{
        grid-template-columns: 1fr;
        width:90%;
    }

    .all-players{
        margin-left: 180px;
        margin-right: 210px;
    }

    .players{
        grid-template-columns: 1fr;
        width:90%;
    }
    
    .football-news-content{
        grid-template-columns: 1fr;
        width:90%;
    }

    .join-us-content{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .header-image{
        margin-top: 40px;
    }

}

/* For Tablet */
@media screen and (min-width: 689px) and (max-width: 992px) {
    .header-container{
        grid-template-columns: 1fr;
        width: 80%;
    }
    .players{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    
    .football-news-content{
        grid-template-columns: 1fr;
        width: 80%;
    }

    .join-us-content{
        grid-template-columns: 1fr;
        width: 80%;
    }

    .header-image{
        margin-top: 40px;
    }
    
}