/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Poppins', sans-serif;
    /* width: 1440px; */
    width: fit-content;
}


/* All Players Section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-players{
    margin-left: 12.5%;
    margin-right: 14.5%;
    margin-bottom: 150px;
}

.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    row-gap: 27px;
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 100%;
}

.player-name{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #18191F;
}

.player-details{
    font-size: 16px;
    color: #6C6C6C;
}


/******************************** 
 Bonus Section 1. Football News 
********************************/
.football-news{
   display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.football-news-flexible{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

}

.football-news .news-head{
    font-size: 16px;
    font-weight: 700;
    color: #18191F;
    text-transform: capitalize;
}

.football-news .news-title{
    font-size: 32px;
    color: #18191F;
    letter-spacing: -1px;
    font-weight: bold;
}

.news-text{
    padding: 25px;
    background-color: white;
}

.news-image img{
    width: 100%;
}


/************************* 
 Bonus Section 2. Join Us 
**************************/

.join-us{
    display: flex;
    justify-content: center;
}

.join-us-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
}

.join-us-text{
    background-color: navy;
    
}

.join-us-text a{
    display: flex;
        
    /* flex-direction: column; */
    /* width: 100px; */
    justify-content: center;
    /* align-items: center; */
    text-decoration: none;
    color: #f4bc46;
    margin-bottom: 15px;
    
}

.join-us-image img{
    width: 100%;
    height: 100%;
}
.join-us-text h2{
    /* width: 70%; */
    text-align: center;
    color: whitesmoke;
}

.join-us-icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.join-us-icon img{
    width: 150px;
    height: 150px;
}


/***************** 
  Footer Styles 
******************/
footer{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 63px;
}

.footer-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.footer-logo{
    width: 483px;
    margin-bottom: 20px;
}

.footer-logo img{
    width: 80%;
}

footer .social-icon{
    height: 32px;
    width: 32px;
}



/* ****************
   Media Query
***************** */

@media only screen and (max-width: 688px) {
   
    .players{
        grid-template-columns: 1fr;
    }
    .football-news-flexible{
        grid-template-columns: 1fr;
    }

    .join-us-content{
        grid-template-columns: 1fr;
    }
}